@charset "UTF-8";

*{margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;}


header {background:url(imagens/baixados\ \(3\)\ -\ Editado.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
background-position: center;
display: flex;
position: relative;
}

header  h1 { font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%,-0%);
  color: white;
  text-shadow: 0px 0px 10px black;
 

 
  }

  nav {margin-left: 20px;}

.menu a {
  margin-left: 15px; /* espaçamento entre os links */
  color: white;
  font-size: 20px;
}
